//Colors
$mo-colors: (
    "red":#e34d59,
    "blue":#0d60e6,
    "orange":#ed7b2f,
    "green":#00a870,
    "light":#E7E7E7,
    "dark":#373737,
);

// More Colors
    
//Base Style
$mo-border-radius: 4px;
$mo-transition: .3s;